# Archivos específicos de Flutter/Dart
# -----------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Archivos de Android
# ------------------
.gradle/
local.properties
*.kwks
*.keystore
*.jks
assetpacks/
/android/app/debug/
/android/app/profile/
/android/app/release/

# Archivos de iOS
# ---------------
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
DerivedData/
Archives/
/ios/Flutter/.last_build_id
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Pods/
/ios/.symlinks/
/ios/Podfile.lock

# Archivos de macOS
# -----------------
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/
/macos/Podfile.lock

# Archivos de Web
# ---------------
.packages
.project
.web/

# Archivos de escritorio (Windows/Linux)
# --------------------------------------
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/

# IDEs (VS Code, IntelliJ, etc.)
# ------------------------------
.vscode/
.idea/
*.iml
*.iws
.history/

# Otros (Logs, OS, Env)
# --------------------
.DS_Store
*.log
.env*